<ul class="tabs">
    <li class="tab col s6"><a href="#login">Log-in</a></li>
    <li class="tab col s6"><a href="#register">Register</a></li>
</ul>
<div class="modal-content">
    <div id="login">
        <div class="row">
            <div class="">
                <div class="input-field">
                    <input id="email" type="text" ng-model="vm.local_login.email"/>
                    <label for="email">E-mail:</label>
                </div>
                <div class="input-field">
                    <input id="password" type="password" ng-model="vm.local_login.password"/>                                                  
                    <label for="password">Password:</label>
                </div>
                <div class="col l6 m6 s6">
                    <div class="input-field" style="margin-top: 0">
                        <input type="checkbox" id="rememberme" ng-model="vm.local_login.checkbox"/>
                        <label for="rememberme">Remember Me</label>
                    </div>
                </div>
                <div class="col l6 m6 s6">
                    <button class="btn waves-effect waves-light right" ng-click="vm.user_modal_press(vm.local_login,'login')">Login</button>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <br/>
        <div class="row">
            <button class="waves-effect waves-light btn col l4 m4 s12 blue" ng-click="vm.fb_login()"><i class="fa fa-facebook left"></i>Facebook</button>
            <button class="waves-effect waves-light btn col l4 blue m4 s12 lighten-2"><i class="fa fa-twitter left"></i>Twitter</button>                 
            <button class="waves-effect waves-light btn col l4 m4 s12 red"><i class="fa fa-google left"></i>Google</button>                 
        </div>
    </div>
    <div id="register">
        <div class="row">
            <div class="input-field col s6 l6">
                <label for="first_name">First Name:</label>
                <input id="first_name" type="text" ng-model="vm.registering.first_name">    
            </div>
            <div class="input-field col s6 l6">
                <label for="last_name">Last Name:</label>
                <input id="last_name" type="text" ng-model="vm.registering.last_name">
            </div>
            <div class="col s12 l12 input-field">
                <label for="email">E-Mail:</label>
                <input id="email" type="text" ng-model="vm.registering.email">                                                 
            </div>
            <div class="col s12 l6 input-field">
                <label for="password">Password:</label>
                <input id="password" type="password" ng-model="vm.registering.password">                                                  
            </div>
            <div class="col s12 l6 input-field">
                <label for="confirm_password">Confirm Password:</label>
                <input id="confirm_password" type="password" ng-model="vm.registering.confirm_password">                                                  
            </div>
            <div class="col l12 m12 s12">
                <label>By clicking on register, you agree to <b>terms</b> and <b>privacy policy</b></label>
            </div>
            <div class="col l12 m12 s12">
                <button class="btn waves-effect waves-light right" ng-click="vm.user_modal_press(vm.registering,'local')">Register</button>
            </div>
        </div>
    </div>
</div>  