<div class="row">
	<div class="col s12 l2 ">
		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header"><i class="material-icons">credit_card</i>Price<i class="material-icons" style="float:right">view_list</i></div>
				<div class="collapsible-body">
					<div class="row center">
						<div class="input-field col s6 m6 l6">
							<input id="lowprice" type="text" ng-model="vm.price.low">
							<label for="lowprice">From</label>
						</div>
						<div class="input-field col s6 m6 l6">
							<input id="highprice" type="text" ng-model="vm.price.high">
							<label for="highprice">To</label>
						</div>
						<button class="btn center" ng-click="vm.sort_price(vm.price)">Sort</button>
					</div>
				</div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">view_module</i>Brand<i class="material-icons" style="float:right">view_list</i></div>
				<div class="collapsible-body">
					<div class="collection">
					    <p href="#!" class="collection-item" ng-repeat="brand in vm.brands | unique: 'brand'">
					    	<input type="checkbox" id="{{brand._id}}" ng-model="brand.selected"/>
							<label for="{{brand._id}}">{{brand.brand}}</label>
						</p>
						<button class="btn" ng-click="vm.sort_brand()">Sort</button>
				    </div>
				</div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">view_quilt</i>Category<i class="material-icons" style="float:right">view_list</i></div>
				<div class="collapsible-body">
					<div class="collection">
					    <p href="#!" class="collection-item" ng-repeat="category in vm.categories">
					    	<input type="checkbox" id="{{category._id}}" ng-model="category.selected"/>
							<label for="{{category._id}}">{{category.sub_category}}</label>
						</p>
						<button class="btn" ng-click="vm.sort_category()">Sort</button>
				    </div>
				</div>
			</li>
		</ul>
	</div>
	<div class="col s12 l9" >
		<div class="row">
			<div class="card col l3 z-depth-0 modal-trigger" href="#browse_more_view" ng-repeat="product in vm.products" ng-click="vm.view_details(product)">
				<div class="card-image waves-effect waves-block waves-light">
					<img ng-src="{{product.image[0]}}" style="height:375px;width:auto; margin:0 auto" class="responsive-img">
					<div class="col l7">
						<p>{{product.name}}<br/>
					</div>
					<div class="col l5">
						<p class="right"><b>RM {{product.price}}</b></p>
					</div>
				</div>
			</div>
		</div>	
		<ul class="pagination center">
		    <li ng-class="{'disabled': vm.current_page == 1,'waves-effect': vm.current_page != 1}" ng-click="vm.static_user_page(0)">
		        <a>First</a>
		    </li>
		    <li ng-class="{'disabled': vm.current_page == 1,'waves-effect': vm.current_page != 1}" ng-click="vm.previous_user_page()">
		        <a><i class="material-icons">chevron_left</i></a>
		    </li>
		    <li ng-if="$index <= vm.current_page +2 && $index >= vm.current_page-4" ng-repeat="i in vm.pagination_number(vm.number) track by $index" class="waves-effect" ng-class="{active: $index+1 == vm.current_page}" ng-click="vm.display_product($index+1)">
		        <a>{{$index+1}}</a>
		    </li>
		    <li ng-class="{disabled: vm.current_page == vm.number,'waves-effect': vm.current_page != vm.number}" ng-click="vm.next_user_page()">
		        <a><i class="material-icons">chevron_right</i></a>
		    </li>
		    <li ng-class="{disabled: vm.current_page == vm.number,'waves-effect': vm.current_page != vm.number}" ng-click="vm.static_user_page(1)">
		        <a>Last</a>
		    </li>
		</ul>			
	</div>
</div>

<div id="browse_more_view" class="modal" style="height:auto">
    <div class="modal-content">
        <div class="row" style="margin-bottom:0">
            <div class="col s12 m8 l5">
                <img src="{{vm.product_details.image[0]}}" class="responsive-img center" style="height:auto: width:100%;margin:0 auto">
            </div>
            <div class="col s12 m4 l2">
                <ul class="center">
                    <li class="col s12 m12 l12" ng-repeat="image in vm.product_details.image track by $index"><img ng-src="{{image}}" style="height:auto; width:100%"></li>
                </ul>
            </div>  
            <div class="col s12 m12 l5">
                <p><b>Name:</b> {{vm.product_details.name}}</p>
                <p><b>SKU:</b> {{vm.product_details.sku}}</p>
                <p><b>Price:</b> {{vm.product_details.price}}</p>
                <p><b>Description:</b> {{vm.product_details.description}}</p>
                <div class="divider"></div>
                <div class="col s12 m6 l12">
                    <div class="col l6">
                        Avaliable size
                        <p ng-repeat="size in vm.product_details.size">
                            <input name="size" type="radio" id="{{size}}"/>
                            <label for="{{size}}">{{size}}</label>
                        </p>
                    </div>
                    <div class="col l6">
                        <div class="col l12">
                        Quantity: 
                            <input  type="text" class="right" length="3" min="0" size="3" maxlength="3" value="1">
                        </div>
                        <div class="col l12 ">
                            <button class="right waves-effect waves-light orange lighten-2 btn-floating " type="submit" name="action"><i class="fa fa-star fa-2x center"></i></button>
                            <button class="right btn-floating waves-effect waves-light pink" type="submit" name="action"><i class="fa fa-heart fa-2x center"></i></button>
                        </div>
                    </div>
                  
                    
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light green lighten-1 right"><i class="fa fa-cart-plus left"></i>Add to Cart</button>        
                </div>
            </div>
        </div>
    </div>
</div>

