<div class="row">
	<div class="col s12 l2 ">
		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header"><i class="material-icons">credit_card</i>Price<i class="material-icons" style="float:right">view_list</i></div>
				<div class="collapsible-body">
					<div class="row center">
						<div class="input-field col s6 m6 l6">
							<input id="lowprice" type="text" ng-model="vm.price.low">
							<label for="lowprice">From</label>
						</div>
						<div class="input-field col s6 m6 l6">
							<input id="highprice" type="text" ng-model="vm.price.high">
							<label for="highprice">To</label>
						</div>
						<button class="btn center" ng-click="vm.sort_price(vm.price)">Sort</button>
					</div>
				</div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">view_module</i>Brand<i class="material-icons" style="float:right">view_list</i></div>
				<div class="collapsible-body">
					<div class="collection">
					    <p href="#!" class="collection-item" ng-repeat="brand in vm.brands | unique: 'brand'">
					    	<input type="checkbox" id="{{brand._id}}" ng-model="brand.selected"/>
							<label for="{{brand._id}}">{{brand.brand}}</label>
						</p>
						<button class="btn" ng-click="vm.sort_brand()">Sort</button>
				    </div>
				</div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">view_quilt</i>Category<i class="material-icons" style="float:right">view_list</i></div>
				<div class="collapsible-body">
					<div class="collection">
					    <p href="#!" class="collection-item" ng-repeat="category in vm.categories">
					    	<input type="checkbox" id="{{category._id}}" ng-model="category.selected"/>
							<label for="{{category._id}}">{{category.sub_category}}</label>
						</p>
						<button class="btn" ng-click="vm.sort_category()">Sort</button>
				    </div>
				</div>
			</li>
		</ul>
	</div>

	<div class="col s12 l10" >
		<div class="row">
			<div ng-if="!vm.products.length" src="'app/error/404.html'">
				<p style="font-size:140%" class="centerS"><b>Sorry</b></p>
				<p style="font-size:120%">The item that you are looking for is not available in our store.<br/>
					You can travel back to the previous page by pressing on the back button on your browser<br/>
						Or travel back to our <a href="app/home/home.html">Homepage</a>, <a href="outdoorproduct.html">Outdoor product page</a> or <a href="indoorproduct.html">Indoor product page</a>.</p>
			</div>
			<div class="card col s6 m6 l3 z-depth-0" ng-repeat="product in vm.products" ng-click="vm.view_details(product)">
				<div class="modal-trigger" href="#browse_more_view">
					<div class="card-image waves-effect waves-block waves-light">
						<img ng-src="{{product.image[0]}}" style="height:250px;width:auto;margin:0 auto" class="responsive-img responsive-img z-depth-1">
						<div class="col s12 m12 l12">
							<p><b style="font-size:120%">{{product.name}}</b><br/>
								Item code: <b>{{product.sku}}</b><br/>
								Price: <b>RM{{product.price}}</b><br/></p>
						</div>
					</div>
				</div>
				<div class="col s8 m8 l8">
					<p style="font-weight:bold; font-family:Roboto">Quantity:&nbsp;<input  length="3" min="0" size="3" maxlength="3" class="quantity" name="updates[]" value=""></p>
				</div>
				<div class="col s4 m4 l4">
					<button class="btn waves-effect waves-light green lighten-1"><i class="fa fa-cart-plus"></i></button>
				</div>
			</div>
		</div>
		<ul class="pagination center" ng-if="vm.number">
		    <li ng-class="{'disabled': vm.current_page == 1,'waves-effect': vm.current_page != 1}" ng-click="vm.static_user_page(0)">
		        <a>First</a>
		    </li>
		    <li ng-class="{'disabled': vm.current_page == 1,'waves-effect': vm.current_page != 1}" ng-click="vm.previous_user_page()">
		        <a><i class="material-icons">chevron_left</i></a>
		    </li>
		    <li ng-if="$index <= vm.current_page +2 && $index >= vm.current_page-4" ng-repeat="i in vm.pagination_number(vm.number) track by $index" class="waves-effect" ng-class="{active: $index+1 == vm.current_page}" ng-click="vm.display_product($index+1)">
		        <a>{{$index+1}}</a>
		    </li>
		    <li ng-class="{disabled: vm.current_page == vm.number,'waves-effect': vm.current_page != vm.number}" ng-click="vm.next_user_page()">
		        <a><i class="material-icons">chevron_right</i></a>
		    </li>
		    <li ng-class="{disabled: vm.current_page == vm.number,'waves-effect': vm.current_page != vm.number}" ng-click="vm.static_user_page(1)">
		        <a>Last</a>
		    </li>
		</ul>			
	</div>
</div>

<div id="browse_more_view" class="modal" style="height:auto;width:60%">
    <div class="modal-content">
        <div class="row" style="margin-bottom:0">
            <div class="col s12 m8 l5">
                <img src="{{vm.product_details.image[0]}}" class="responsive-img center" style="height:auto;width:100%;margin:0 auto">
            </div>
            <div class="col s12 m4 l2">
                <ul class="center">
                    <li class="col s12 m12 l12" ng-repeat="image in vm.product_details.image track by $index"><img ng-src="{{image}}" class="responsive-img" style="height:100px; width:auto;margin:0 auto"></li>
                </ul>
            </div>
            <div class="col s12 m12 l5">
                <p style="font-size:115%">Name: <b>{{vm.product_details.name}}</b><br/>
                    SKU: <b>{{vm.product_details.sku}}</b><br/>
                    Price: <b>RM{{vm.product_details.price}}</b><br/>
                    Description: {{vm.product_details.description}}<br/>
                    Size:</p><ul>
                    <li>Chair size (Small) : W 95 x L 105 x H 92 CM</li>
                    <li>Chair size (Big) : W 130 x L 130 x H 92 CM</li>
                    <li>Table size : W 65 x L 50 x H 30 CM</li>
                </ul>
                <div class="col s12 m12 l12">
                    <div class="col s6 m6 l6">
                        <select>
                            <option value="" disabled selected>Choose your color</option>
                            <option value="1">Red</option>
                            <option value="2">Orange</option>
                            <option value="3">White</option>
                        </select>
                    </div>
                    <div class="col s6 m6 l6">
                        <select>
                            <option value="" disabled selected>Choose your size</option>
                            <option value="1">Large</option>
                            <option value="2">Medium</option>
                            <option value="3">120cm x 40cm x 60cm</option>
                        </select>
                    </div>
                    <div class="col l6">
                        <p style="font-weight:bold; font-family:Roboto">Quantity:&nbsp;<input length="3" min="0" size="3" maxlength="3" class="quantity" value=""></p>
                    </div>
                    <div class="col l6">
                        <button class="btn-floating waves-effect waves-light pink"><i class="fa fa-heart fa-5x"></i></button>
                        <button class="btn-floating waves-effect waves-light orange lighten-2"><i class="fa fa-star fa-5x"></i></button>
                    </div>
                </div>
                <div class="col s12 m6 l8 right">
                    <button class="btn waves-effect waves-light green lighten-1" ><i class="fa fa-cart-plus"></i>&nbsp;&nbsp;Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>

