<div class="row">
	<div class="col s12 l2 ">
		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header"><i class="material-icons">credit_card</i>Price<i class="material-icons" style="float:right">view_list</i></div>
				<div class="collapsible-body">
					<div class="row center">
						<div class="input-field col s6 m6 l6">
							<input id="lowprice" type="text" ng-model="vm.price.low">
							<label for="lowprice">From</label>
						</div>
						<div class="input-field col s6 m6 l6">
							<input id="highprice" type="text" ng-model="vm.price.high">
							<label for="highprice">To</label>
						</div>
						<button class="btn center" ng-click="vm.sort_price(vm.price)">Sort</button>
					</div>
				</div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">view_module</i>Brand<i class="material-icons" style="float:right">view_list</i></div>
				<div class="collapsible-body">
					<div class="collection">
					    <p href="#!" class="collection-item" ng-repeat="brand in vm.brands | unique: 'brand'">
					    	<input type="checkbox" id="{{brand._id}}" ng-model="brand.selected"/>
							<label for="{{brand._id}}">{{brand.brand}}</label>
						</p>
						<button class="btn" ng-click="vm.sort_brand()">Sort</button>
				    </div>
				</div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">view_quilt</i>Category<i class="material-icons" style="float:right">view_list</i></div>
				<div class="collapsible-body">
					<div class="collection">
					    <p href="#!" class="collection-item" ng-repeat="category in vm.categories">
					    	<input type="checkbox" id="{{category._id}}" ng-model="category.selected"/>
							<label for="{{category._id}}">{{category.sub_category}}</label>
						</p>
						<button class="btn" ng-click="vm.sort_category()">Sort</button>
				    </div>
				</div>
			</li>
		</ul>
	</div>

	<div class="col s12 l10" ng-if="vm.done === 1">
		<div class="row">
			<div ng-if="!vm.products.length" src="'app/error/404.html'">
				<p style="font-size:140%" class="centerS"><b>Sorry</b></p>
				<p style="font-size:120%">The item that you are looking for is not available in our store.<br/>
					You can travel back to the previous page by pressing on the back button on your browser<br/>
						Or travel back to our <a href="/">Homepage</a>, <a href="browse_more/outdoor">Outdoor product page</a> or <a href="browse_more/indoor">Indoor product page</a>.</p>
			</div>
			<div class="card col s6 m6 l4 z-depth-0" ng-repeat="product in vm.products">
				<div class="modal-trigger" href="#browse_more_view">
					<div class="card-image">
						<img ng-src="{{product.image[0]}}" style="cursor:pointer;height:18em;width:auto;margin:0 auto" class="responsive-img materialboxed z-depth-1">
						<div class="col s12 m12 l12" style="cursor:pointer" ng-click="vm.view_details(product)">
							<p class="center"><b style="font-size:160%">{{product.name}}</b><br/>
								<b style="font-size:140%">RM{{product.price*0.90}}</b>
                                <b style="color:gray">RM{{product.price}}</b>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ul class="pagination center" ng-if="vm.number">
		    <li ng-class="{'disabled': vm.current_page == 1,'waves-effect': vm.current_page != 1}" ng-click="vm.static_user_page(0)">
		        <a>First</a>
		    </li>
		    <li ng-class="{'disabled': vm.current_page == 1,'waves-effect': vm.current_page != 1}" ng-click="vm.previous_user_page()">
		        <a><i class="material-icons">chevron_left</i></a>
		    </li>
		    <li ng-if="$index <= vm.current_page +2 && $index >= vm.current_page-4" ng-repeat="i in vm.pagination_number(vm.number) track by $index" class="waves-effect" ng-class="{active: $index+1 == vm.current_page}" ng-click="vm.display_product($index+1)">
		        <a>{{$index+1}}</a>
		    </li>
		    <li ng-class="{disabled: vm.current_page == vm.number,'waves-effect': vm.current_page != vm.number}" ng-click="vm.next_user_page()">
		        <a><i class="material-icons">chevron_right</i></a>
		    </li>
		    <li ng-class="{disabled: vm.current_page == vm.number,'waves-effect': vm.current_page != vm.number}" ng-click="vm.static_user_page(1)">
		        <a>Last</a>
		    </li>
		</ul>			
	</div>
</div>

<footer class="page-footer" style="background-color:#B6DFFF">
	<div class="container">
		<div class="row" style="margin-bottom:0px">
			<div class="col l3">
				<p style="font-size:140%;color:#003266">Contact Detail:</p>
				<p style="font-size:120%;color:#003266"><i class="fa fa-phone-square"></i>&nbsp;&nbsp;+604-227 4850</p>
				<p style="font-size:120%;color:#003266"><i class="fa fa-envelope"></i>&nbsp;&nbsp;sales@supremekinetic.com</p><br/>
				<p style="font-size:140%;color:#003266">Join our newsletter</p>
				<form>
					<input id="newsemail" type="email" class="validate">
					<a class="btn">Subscribe</a>
				</form>
			</div>
			<div class="col l2">
				<p style="font-size:140%;color:#003266">Address:</p>
				<p style="font-size:120%;color:#003266"><i class="fa fa-building"></i>&nbsp;&nbsp;Head Quarter</p>
				<p style="color:#003266">67,lorong kinta,<br/>10400 Georgetown,<br/>Pulau Pinang</p>
				<p style="font-size:120%;color:#003266"><i class="fa fa-building"></i>&nbsp;&nbsp;Langkawi branch</p>
				<p style="color:#003266"></p>
			</div>
			<div class="col l2">
				<p style="font-size:140%;color:#003266">Join us on</p>
				<a href="https://www.facebook.com" style="color:#003266"><i style="font-size:160%;color:#003266" class="fa fa-facebook-square"></i>&nbsp;&nbsp;Facebook</a><br/>
				<a href="https://www.twitter.com"  style="color:#003266"><i style="font-size:160%;color:#003266" class="fa fa-twitter-square"></i>&nbsp;&nbsp;Twitter</a><br/>
				<a href="https://www.instagram.com"  style="color:#003266"><i style="font-size:160%;color:#003266" class="fa fa-instagram"></i>&nbsp;&nbsp;Instagram</a><br/>
			</div>
			<div class="col l5">
				<p style="font-size:140%;color:#003266">Our office:</p>
				<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
				<div style="overflow:hidden;height:380px;width:500px;">
					<div id="gmap_canvas" style="height:350px;width:500px"></div>
					<style>#gmap_canvas
					img{max-width:none!important;background:none!important}
					</style>
				</div>
				<script type="text/javascript">
					function init_map(){var myOptions = {zoom:18,center:new google.maps.LatLng(5.4166107584338725,100.32765334774626),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(5.4166107584338725, 100.32765334774626)});infowindow = new google.maps.InfoWindow({content:"<b>Supreme Kinetic Sdn Bhd</b><br/>67, lorong kinta<br/>10400 Penang" });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);
				</script>
			</div>
		</div>
	</div>
</footer>

<div id="browse_more_view" class="modal" style="height:auto;width:65%">
	<div class="modal-content">
		<div class="row" style="margin-bottom:0">
			<div class="col s12 m12 l5 center">
                <div class="circle_price">10%</div>
				<img src="{{vm.selected_image}}" class="responsive-img materialboxed center" style="height:23em;width:auto;margin:0 auto">
				<div class="row">
					<div class="col s12 m12 l12 multi_image">
						<ul><li class="col s6 m2 l3" ng-repeat="image in vm.product_details.image track by $index"><img ng-src="{{image}}" class=" responsive-img" style="height:5em;width:auto" ng-click="vm.select_image(image)"></li></ul>
					</div>
				</div>
			</div>
			<div class="col s12 m12 l5">
                <p><b style="font-size:250%">{{vm.product_details.name}}</b><br/>
                    Rating: <i class="fa fa-star rating_star"></i><i class="fa fa-star rating_star"></i><i class="fa fa-star rating_star"></i><i class="fa fa-star rating_star"></i><i class="fa fa-star-o"></i><br/>
                <div ng-bind-html="vm.product_details.description"></div>
				<div class="row">
                    <div class="col s12 m12 l4">
                        <p>Select a Color:</p>
                        <ul class="">
                            <li class="select">
                                <div class="color_selectee" style="background-color: white;"></div>
                            </li>
                            <li class="select">
                                <div class="color_selectee" style="background-color: orange;"></div>
                            </li>
                            <li class="select">
                                <div class="color_selectee" style="background-color: red;"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="col s12 m12 l8">
                        <p>Select A Size:</p>
                        <a class="btn white col s4 m4 l4 selectsize"><b class="size_selectee" style="color:black">S</b></a>
                        <a class="btn white col s4 m4 l4 selectsize"><b class="size_selectee" style="color:black">M</b></a>
                        <a class="btn white col s4 m4 l4 selectsize"><b class="size_selectee" style="color:black">L</b></a>
                    </div>
                </div>
                <div class="col s12 m12 l5">
                    <b style="font-size:250%">RM{{vm.product_details.price*0.90}}</b>
                    <b style="font-size:130%;color:gray">Original: RM{{vm.product_details.price}}</b>
                </div>
                <div class="col s12 m12 l7">
                    <div class="col s12 m12 l4"><p style="padding-left: 1%;"></p></div>
                    <div class="col s8 m8 l4">
                        <p style="font-weight:bold">
							<input  length="3" min="1" size="3" maxlength="3" class="quantity" name="updates[]" ng-model="product.select_quantity">
						</p>
                    </div>
                    <div class="col s4 m4 l4"  style="padding-top:2%">
                        <button class="btn waves-effect waves-light green lighten-1" ng-click="vm.add_to_cart(product,product.select_quantity)"><i class="fa fa-cart-plus"></i></button>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>