<div class="row" style="padding-left:1%">
    <h5>Change Address</h5>
    <div class="col s12 m12 l6" style="padding-bottom:2%">
        <p><b style="font-size:120%">Billing Address</b></p>
        <div class="input-field col s12 m12 l12">
            <input id="address1" type="text" ng-model="vm.user.billing_address[0].address_1">
            <label for="address1" class="active">* Address 1</label>
        </div>
        <div class="input-field col s12 m12 l12">
            <input id="address2" type="text"ng-model="vm.user.billing_address[0].address_2">
            <label for="address2" class="active">Address 2 (Optional)</label>
        </div>
        <div class="input-field col s12 m12 l4">
            <input id="postcode" type="text" ng-model="vm.user.billing_address[0].postcode">
            <label for="postcode" class="active">* Postcode</label>
        </div>
        <div class="input-field col s12 m12 l4">
            <input id="city" type="text" ng-model="vm.user.billing_address[0].city">
            <label for="city" class="active">* City</label>
        </div>
        <div class=" col s12 m12 l4">
            <label>State</label>
            <select class="browser-default" ng-model="vm.user.billing_address[0].state">
                <option ng-selected="vm.user.billing_address[0].state === state" ng-repeat="state in vm.state" ng-value="state">{{state}}</option>
            </select>
        </div>
    </div>

    <div class="col s12 m12 l6" style="border-left:black 1px solid">
        <p><b style="font-size:120%">Shipping Address</b></p>
        <div class="input-field col s12 m12 l12">
            <input id="shipadd1" type="text" ng-model="vm.user.shipping_address[0].address_1">
            <label for="shipadd1" class="active">* Address 1</label>
        </div>
        <div class="input-field col s12 m21 l12">
            <input id="shipadd2" type="text" ng-model="vm.user.shipping_address[0].address_2">
            <label for="shipadd2" class="active">Address 2 (Optional)</label>
        </div>
        <div class="input-field col s12 m12 l4">
            <input id="shippost" type="text" ng-model="vm.user.shipping_address[0].postcode">
            <label for="shippost" class="active">* Postcode</label>
        </div>
        <div class="input-field col s12 m12 l4">
            <input id="shipcity" type="text" ng-model="vm.user.shipping_address[0].city">
            <label for="shipcity" class="active">* City</label>
        </div>
        <div class=" col s12 m12 l4">
            <label>State</label>
            <select class="browser-default" ng-model="vm.user.shipping_address[0].state">
                <option ng-selected="vm.user.shipping_address[0].state === state" ng-repeat="state in vm.state" ng-value="state">{{state}}</option>
            </select>
        </div>
    </div>
    <div class="col offset-l5">
        <button class="btn right" ng-click="vm.address_update(vm.user)">Save</button>
    </div>
</div>