<div  id="accedit" class="col s12 m12 l12" style="padding-left:1%">
    <div class="row">
        <h5>Edit Account Detail</h5><hr/>
        <form>
            <div id="uploadCrop" class="center col s12 m12 l2">
                <img name="" class="responsive-img circle" style="height:140px;width:140px" src="">
            </div>
            <div class="input-field col s6 m6 l5">
                <input id="firstname" type="text" ng-model="vm.user.first_name">
                <label for="firstname" class="active">* First Name</label>
            </div>
            <div class="input-field col s6 m6 l5">
                <input id="lastname" type="text" ng-model="vm.user.last_name">
                <label for="lastname" class="active">* Last Name</label>
            </div>
            <div class="input-field col s6 m6 l5">
                <input id="email" type="text" ng-model="vm.user.email" disabled>
                <label for="email" class="active" >* Email</label>
            </div>
            <div class="input-field col s6 m6 l5">
                <input id="phone" type="text" ng-model="vm.user.phone">
                <label for="phone" class="active">* Phone</label>
            </div>
            <div class="col offset-l8">
                <button class="btn">Save</button>
                <button class="btn">Cancel</button>
            </div>
        </form>
    </div>
</div>