<div id="passedit" class="col s12 m12 l12" style="padding-left:1%">
    <div class="row">
        <h5>Change Password</h5>
        <form>
            <div class="input-field col s6 m6 l6">
                <input id="newpassword1" type="password" ng-model="vm.password.new">
                <label for="newpassword1">* New Password</label>
            </div>
            <div class="input-field col s6 m6 l6">
                <input id="newpassword2" type="password" ng-model="vm.password.confirm_new">
                <label for="newpassword2">* Confirm New Password</label>
            </div>
            <div class="input-field col s6 m6 l6">
                <input id="oldpassword" type="password" ng-model="vm.password.old">
                <label for="oldpassword">* Older Password</label>
            </div>
            <div class="col offset-l8">
                <button class="btn" ng-click="vm.change_password(vm.password)">Save</button>
                <button class="btn">Clear</button>
            </div>
        </form>
    </div>
</div>