<div id="passedit" class="col s12 m12 l12" style="padding-left:1%">
    <div class="row">
        <h5>Change Password</h5>
        <form>
            <div class="col s6 m6 l6">
                <p><b style="font-size:120%">Older Password</b></p>
                <div class="input-field col s12 m12 l12" style="padding-bottom:15%">
                    <input id="oldpassword" type="password" ng-model="vm.password.old">
                    <label for="oldpassword">* Old Password</label>
                </div>
            </div>
            <div class="col s6 m6 l6" style="border-left:black 1px solid">
                <p><b style="font-size:120%">Newer Password</b></p>
                <div class="input-field col s12 m12 l21">
                    <input id="newpassword1" type="password" ng-model="vm.password.new">
                    <label for="newpassword1">* New Password</label>
                </div>
                <div class="input-field col s12 m12 l12">
                    <input id="newpassword2" type="password" ng-model="vm.password.confirm_new">
                    <label for="newpassword2">* Confirm New Password</label>
                </div>
            </div>
            <div class="col offset-l5">
                <button class="btn" ng-click="vm.change_password(vm.password)">Save</button>
                <button class="btn">Clear</button>
            </div>
        </form>
    </div>
</div>