<ul class="tabs">
    <li class="tab col s3"><a ng-click="vm.product_load('outdoor')">Outdoor</a></li>
    <li class="tab col s3"><a class="" ng-click="vm.product_load('indoor')">Indoor</a></li>
</ul>
<div id="product_outdoor">
    <div class="row ">
        <div class="col s12">
            <div class="card">
                <div class="title">
                    <h5>Products</h5>
                    <div class="btn-group right">
                        <a class="btn btn-small green lighten-1 z-depth-0" ng-click="vm.add_product()"><i class="mdi mdi-content-add"></i></a>
                        <a class="btn btn-small red lighten-1 z-depth-0"><i class="mdi mdi-action-delete"></i></a>
                    </div>
                </div>
                <div class="content">
                    <table class="highlight">
                        <thead>
                            <tr ng-if="vm.products[0]._id">
                                <th data-field="">Select</th>
                                <th data-field="sku">SKU</th>
                                <th data-field="image">Image</th>
                                <th data-field="name">Product Name</th>
                                <th data-field="stock">Stock</th>
                                <th data-field="price">Price</th>
                                <th data-field="status">Status</th>
                                <th data-field="">Action</th>
                            </tr>
                            <tr ng-if="!vm.products[0]._id">
                                <td data-field=""><b>No Product Available.</b> <i>Click on the green plus sign button to add a new product</i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="product in vm.products" ng-click="vm.view_product(product)">
                                <th><input type="checkbox" id="{{product._id}}" /><label for="{{product._id}}"></label></th>
                                <th>{{product.sku}}</th>
                                <td><img ng-src="{{product.image[0]}}" style="height:50px; width:auto;" class="responsive-img"></td>
                                <td><strong class="grey-text text-darken-2">{{product.name}}</strong><br/>
                                    <label class="grey-text">
                                        {{product.description}}
                                    </label>
                                </td>
                                <td>{{product.quantity}}</td>
                                <td>${{product.price}}</td>
                                <td class="green-text">{{product.status}}</td>
                                <td class="btn-group"><a class="btn btn-small z-depth-0 blue lighten-1"><i class="mdi mdi-editor-mode-edit"></i></a>
                                <a class="btn btn-small z-depth-0 grey lighten-1"><i class="fa fa-info"></i></a></td>
                            </tr>                     
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include src="'app/admin/product_add.html'"></div>
<div ng-include src="'app/admin/product_edit.html'"></div>

<ul class="pagination center">
    <li ng-class="{'disabled': vm.current_page == 1,'waves-effect': vm.current_page != 1}" ng-click="vm.static_user_page(0)">
        <a>First</a>
    </li>
    <li ng-class="{'disabled': vm.current_page == 1,'waves-effect': vm.current_page != 1}" ng-click="vm.previous_user_page()">
        <a><i class="material-icons">chevron_left</i></a>
    </li>
    <li ng-if="$index <= vm.current_page +2 && $index >= vm.current_page-4" ng-repeat="i in vm.pagination_number(vm.number) track by $index" class="waves-effect" ng-class="{active: $index+1 == vm.current_page}" ng-click="vm.display_product($index+1)">
        <a>{{$index+1}}</a>
    </li>
    <li ng-class="{disabled: vm.current_page == vm.number,'waves-effect': vm.current_page != vm.number}" ng-click="vm.next_user_page()">
        <a><i class="material-icons">chevron_right</i></a>
    </li>
    <li ng-class="{disabled: vm.current_page == vm.number,'waves-effect': vm.current_page != vm.number}" ng-click="vm.static_user_page(1)">
        <a>Last</a>
    </li>
</ul>
