<div id="edit_product" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="row">
        <div class="row">
		    <div class="input-field col s6 m8 l9">
			    <input id="productname" type="text" ng-model="vm.product_details.name">
		    	<label for="productname" class="active">Product Name</label>
		    </div>
            <p class="right">
                <input type="checkbox" class="filled-in" id="recommended" checked="checked" />
                <label for="recommended">Recommended</label>
            </p>
            </div>
		    <div class="input-field col s4 m4 l4">
		        <input id="model" type="text" ng-model="vm.product_details.model">
		        <label for="model" class="active">Model</label>
	        </div>				    	
	        <div class="input-field col s4 m4 l4">
		        <input id="sku" type="text" ng-model="vm.product_details.sku">
		        <label for="sku" class="active">SKU</label>
	        </div>				    	
	        <div class="input-field col s4 m4 l4">
		        <input id="brand" type="text" ng-model="vm.product_details.brand">
		        <label for="brand" class="active">Brand</label>
	        </div>
	        <div class="input-field col s4 m4 l4">
		        <input id="price" type="text" ng-model="vm.product_details.price">
		        <label for="price" class="active">Price</label>
	        </div>
            <div class="input-field col s4 m4 l4">
                <input id="quantity" type="text" ng-model="vm.product_details.quantity">
                <label for="quantity" class="active">Quantity</label>
            </div>
	        <div class="input-field col s4 m4 l4">
                <select ng-model="vm.product_details.sub_category" class="browser-default black-text">
                    <option value="" disabled>Select Category</option>
                    <option class="black-text" ng-repeat="category in vm.categories" ng-selected="vm.product_details.sub_category == vm.product_details.sub_category">{{category.sub_category}}</option>
                </select>
	        </div>
	        <div class="col s12 m12 l12">
		        <p class="grey-text">Product Description</p>
	    	</div>
	    	<div>
				<textarea style="height:150px" ng-model="vm.product_details.description"></textarea>
	    	</div>
            <div class="col s12 m6 l6">
                <p class="grey-text">Color</p>
                <ul class="collection col l12">
                    <li class="collection-item" style="background: #FAFAFA;">
                        <ul>
                            <li ng-repeat="color_select in vm.product_details.color track by $index" style="padding-bottom:1em">
                                <div class="row" style="margin-bottom:0px;">
                                    <span class="col l10 m10 s10">
                                        <button colorpicker type="button" colorpicker-position="top" ng-model="vm.product_details.color[$index]" ng-style="{background: vm.product_details.color[$index]}" class="btn col l12 m12 s12"></button>

                                    </span>
                                    <span class="right  l2 m2 s2" ng-hide="color_select.length == 1">
                                        <a href ng-click="vm.product_details.color.splice($index, 1)"><i class="fa fa-times fa-2x"></i></a>
                                    </span>
                                </div>
                            </li>
                            <li class="center">
                                <a href ng-click="vm.edit_add_color(vm.product_details.color, $event)"><i class="fa fa-plus fa-2x"></i></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col s12 m6 l6">
                <p class="grey-text">Size</p>
                <ul class="collection col l12">
                    <li class="collection-item" style="background: #FAFAFA;">
                        <ul>
                            <li ng-repeat="size_select in vm.product_details.size track by $index" style="padding-bottom:1em">
                                <div class="row" style="margin-bottom:0px;">
                                    <span class="col l10 m10 s10">
                                        <input type="text" ng-model="vm.product_details.size[$index]" style="margin:0; height: 35px; text-align: center;"/>
                                    </span>
                                    <span class="right  l2 m2 s2" ng-hide="size_select.length == 1">
                                        <a href ng-click="vm.product_details.size.splice($index, 1)"><i class="fa fa-times fa-2x"></i></a>
                                    </span>
                                </div>
                            </li>
                            <li class="center">
                                <a href ng-click="vm.edit_add_size(vm.product_details.size, $event)"><i class="fa fa-plus fa-2x"></i></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col s12 m12 l12">
                <p class="grey-text">Image</p>
                <ul class="collection col l12">
                    <li class="collection-item" style="background: #FAFAFA;">
                        <ul  ng-model="image.children">
                            <li ng-repeat="image_select in vm.product_details.image track by $index" style="padding-bottom:1em">
                                <div class="row" style="margin-bottom:0px;">
                                    <span class="col l10 m10 s10">
                                    <div class="file-field input-field col s8 m8  l8">
                                        <div class="btn">
                                            <span>Image</span>
                                            <input onchange="angular.element(this).scope().edit_upload(this,angular.element(this).scope().$index)" type="file" />
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path" type="text">
                                        </div>
                                    </div>
                                    <img class="col l4 right" style="height:70px;width:auto" ng-src="{{image_select}}" />
                                    </span>
                                    <span class="right  l2 m2 s2" ng-hide="image_select.length == 1">
                                        <a href ng-click="vm.image_remove(image,$index)"><i class="fa fa-times fa-2x"></i></a>
                                    </span>
                                </div>
                            </li>
                            <li class="center">
                                <a href ng-click="vm.edit_add_image(vm.product_details.image, $event)"><i class="fa fa-plus fa-2x"></i></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col s12 m12 l12">
                <p class="grey-text">Discount</p>
                <ul class="collection col l12" style="overflow:visible;">
                    <li class="collection-item" style="padding-left: 0; padding-right: 0;background: #FAFAFA;">
                        <ul>
                            <li ng-repeat="discount_select in vm.product_details.discount track by $index" style=" padding:2em 1em; background:#F7F7F7; margin-bottom:0.5em;"> 
                                <div class="row" style="margin-bottom:0px;">
                                    <span class="col l10 m10 s10 grey-text">
                                        <span class="col l12 m12 s12">
                                            Discount Code: 
                                            
                                            <label class="discount_code">{{discount_select.discount_code | uppercase}}</label>
                                        </span>
                                        <span class="col l6 m12 s12">
                                            Date<input type="text" disabled ng-model="discount_select.date | date:'yyyy-MM-dd'" class="black-text">
                                        </span>
                                        <span class="col l6 m12 s12">
                                            Percentage <input type="text" ng-model="discount_select.percentage" class="center black-text">
                                        </span>
                                        <span class="col l9 m9 s9">
                                            Duration
                                            <input type="text" ng-model="discount_select.days" class="center black-text">
                                        </span>
                                        <span class="col l3 m3 s3">
                                            &nbsp;
                                            <select ng-model="discount_select.duration_type" class="browser-default black-text">
                                                <option value="" disabled>Select</option>
                                                <option  selected>Day(s)</option>
                                                <option>Week(s)</option>
                                            </select>
                                        </span>
                                        <span class="col l12 m12 s12">
                                            Specifying User <label>(Leave it empty to specify all users)</label>
                                            <select ng-model="discount_select.selected_user[0]._id" class="browser-default black-text">
                                                <option value="" selected>Select</option>
                                                <option class="black-text" ng-repeat="user in vm.users.response" value="{{user._id}}" ng-if="user.first_name !== ''" ng-selected="discount_select.selected_user[0]._id == user._id">{{user.first_name}} {{user.last_name}}</option>
                                            </select>
                                        </span>
                                    </span>
                                    <span class="right  l2 m2 s2" ng-hide="discount_select.length == 1">
                                        <a href ng-click="vm.product_details.discount.splice($index, 1)"><i class="fa fa-times fa-2x"></i></a>
                                    </span>
                                </div>
                            </li>
                            <li class="center">
                                <a href ng-click="vm.edit_add_discount(vm.product_details.discount, $event)"><i class="fa fa-plus fa-2x"></i></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
		</div>
    </div>
    <div class="modal-footer">
      	<a class=" modal-action waves-effect waves-green btn-flat" ng-click="vm.edit_product_confirm(vm.product_details)">Update</a>
    </div>
</div>