@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src:  local('Material Icons'), url('../../libs/materialize/dist/font/material-design-icons/Material-Icons.woff2') format('woff2');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/****
*****	Home Navigation Bar
****/

.nav-logo{
 	padding: 5px 0px !important;
    height: 64px;
    display: block;
}

.navigation{
	margin-bottom: 0;
}

li.hover_none:hover{
	background-color: transparent;
}

.login_btn{
	border-radius: 1.5em;
}

.responsive-search{
	margin-top: 0em;
}

.responsive-search-li{
	padding: 0 !important;
}

.logo{
	height: 100%;
}


/****
*****	Home Tab
****/

.tab_icon{
	display: none;
	font-size: 3rem;
}

/****
*****	Admin Dashboard
****/

.admin {
  	padding-left: 240px;
}

.admin_side_nav{
	margin-top:64px;
}

.btn-group{
	display: inline-block;
    vertical-align: bottom;
}

.card .title{
	width: 100%;
    padding: 10px 20px;
    border-radius: 2px 2px 0 0;
    display: inline-block;
    border-bottom: 1px solid #d0d0d0;
}
.card .title h5{
	float: left;
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 0;
    color: rgba(0,0,0,.65);
}

@media screen and (max-width: 600px) {
    .nav-logo{
	    height: 55px;
	}
	.responsive-search{
		margin-top: 0.5em;
	}
	.mobile_profile_icon{
		height: 64px;
    	line-height: 64px;
	}
}

@media screen and (max-width: 992px) {
	.tab_icon{
		display: block;
	}
	.tab_text{
		display: none;
	}
	.admin {
	  	padding-left: 0;
	}
}

.center-custom{
	margin: 0 auto;
    display: block;
}