<div class="row">
	<div class="card modal-trigger col l3 m6 s12 z-depth-1" ng-repeat="product in vm.products" ng-click="vm.view_details(product)">
        <div class="card-image waves-effect  waves-block waves-light">
            <img ng-src="{{product.image[0]}}" style="height:200px;width:auto; margin:0 auto;">
            <div class="col l7 left">
                <p>
                    {{product.name}}
                </p>
            </div>
            <div class="col l5">
                <p class="right"><b>$ {{product.price}}</b></p>
            </div>
        </div>
    </div>
</div>