<div class="row">
    <div ng-if="!vm.products.length">No Product Found</div>
    <div class="card col s6 m6 l3 z-depth-0" ng-repeat="product in vm.products" ng-click="vm.view_details(product)">
        <div class="modal-trigger" href="#browse_more_view">
            <div class="card-image waves-effect waves-block waves-light">
                <img ng-src="{{product.image[0]}}" style="height:250px;width:auto;margin:0 auto" class="responsive-img responsive-img z-depth-1">
                <div class="col s12 m12 l12">
                    <p><b style="font-size:120%">{{product.name}}</b><br/>
                        Item code: <b>{{product.sku}}</b><br/>
                        Price: <b>RM{{product.price}}</b><br/></p>
                </div>
            </div>
        </div>
        <div class="col s8 m8 l8">
            <p style="font-weight:bold; font-family:Roboto">Quantity:&nbsp;<input  length="3" min="0" size="3" maxlength="3" class="quantity" name="updates[]" value=""></p>
        </div>
        <div class="col s4 m4 l4">
            <button class="btn waves-effect waves-light green lighten-1"><i class="fa fa-cart-plus"></i></button>
        </div>
    </div>
</div>