<div id="view_details" class="modal" style="height:auto;width:80%;padding-bottom:1%">
    <div class="modal-content">
        <div class="row" style="margin-bottom:0">
            <div class="col s12 m8 l7">
                <img src="{{vm.selected_image}}" class="responsive-img center" style="height:auto;width:100%;margin:0 auto">
            </div>
            <div class="col s12 m4 l2">
                <ul class="center">
                    <li class="col s12 m12 l12" ng-repeat="image in vm.product_details.image track by $index"><img ng-src="{{image}}" class=" responsive-img" style="height:auto;width:100%" ng-click="vm.select_image(image)"></li>
                </ul>
            </div>
            <div class="col s12 m12 l3">
                <p style="font-size:120%"><b style="font-size:160%">{{vm.product_details.name}}</b><br/>
                SKU: <b>{{vm.product_details.sku}}</b><br/>
                Price: <b>{{vm.product_details.price}}</b><br/>
                Rating: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></p>
                <label>Description</label>
                <div ng-bind-html="vm.product_details.description"></div>
                <div class="col s12 m12 l12"><label>Color:</label>
                    <ul class="">
                        <li class="select">
                            <div class="color_selectee" style="background-color: white;"></div>
                        </li>
                        <li class="select">
                            <div class="color_selectee" style="background-color: orange;"></div>
                        </li>
                        <li class="select">
                            <div class="color_selectee" style="background-color: red;"></div>
                        </li>
                    </ul>
                </div>
                <div class="col s12 m12 l12">
                    <label>Size:</label>
                    <select class="browser-default">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Small</option>
                        <option value="2">Medium</option>
                        <option value="3">Large</option>
                    </select>
                </div>
                <div>
                    <div class="col s8 m8 l8">
                        <p style="font-weight:bold">Quantity:&nbsp;<input  length="3" min="0" size="3" maxlength="3" class="quantity"ng-model="product.select_quantity"></p>
                    </div>
                    <div class="col s4 m4 l4"  style="padding-top:2%">
                        <button class="btn waves-effect waves-light green lighten-1" ng-click="vm.add_to_cart(vm.product_details,product.select_quantity)"><i class="fa fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>