<div class="row">
    <div class="col s12 m6 l5">
        <div class="col s12 m12 l12">
            <p><b style="font-size:120%">Billing Address</b></p>
            <div class="col s12 m12 l12" style="padding-bottom:2%">
                <p><b style="font-size:110%">Buyer Information</b></p>
                <div class="input-field col s12 m12 l4">
                    <input id="receivefirst" type="text" ng-model="vm.user.first_name">
                    <label for="receivefirst" class="active">First Name:</label>
                </div>
                <div class="input-field col s12 m12 l4">
                    <input id="receivelast" type="text" ng-model="vm.user.last_name">
                    <label for="receivelast" class="active">Last Name:</label>
                </div>
                <div class="input-field col s12 m12 l4">
                    <input id="phone" type="text" ng-model="vm.user.phone">
                    <label for="phone" class="active">Phone:</label>
                </div>
                <div class="input-field col s12 m12 l12">
                    <input id="shipadd1" type="text" ng-model="vm.user.billing_address[0].address_1">
                    <label for="shipadd1" class="active">* Address 1</label>
                </div>
                <div class="input-field col s6 m6 l6">
                    <input id="shipadd2" type="text" ng-model="vm.user.billing_address[0].address_2">
                    <label for="shipadd2" class='active'>Address 2 (Optional)</label>
                </div>
                <div class="input-field col s6 m6 l6">
                    <input id="company" type="text" ng-model="vm.user.company">
                    <label for="company" class="active">Company (Optional)</label>
                </div>
                <div class="input-field col s12 m12 l4">
                    <input id="shippost" type="text" class="validate" ng-model="vm.user.billing_address[0].postcode">
                    <label for="shippost" class='active'>* Postcode</label>
                </div>
                <div class="input-field col s12 m12 l4">
                    <input id="shipcity" type="text" ng-model="vm.user.billing_address[0].city">
                    <label for="shipcity" class='active'>* City</label>
                </div>
                <div class="input-field col s12 m12 l4">
                    <select class="browser-default" ng-model="vm.user.billing_address[0].state">
                        <option ng-selected="vm.user.billing_address[0].state === state" ng-repeat="state in vm.state" ng-value="state">{{state}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l5">
        <div class="col s12 m12 l12">
            <p><b style="font-size:120%">Shipping Address</b></p>
            <div class="col s12 m12 l12" style="padding-bottom:2%">
                <p><b style="font-size:110%">Receiver Information</b></p>
                <div class="input-field col s12 m12 l4">
                    <input id="receivefirst" type="text">
                    <label for="receivefirst">First Name:</label>
                </div>
                <div class="input-field col s12 m12 l4">
                    <input id="receivelast" type="text">
                    <label for="receivelast">Last Name:</label>
                </div>
                <div class="input-field col s12 m12 l4">
                    <input id="phone" type="text">
                    <label for="phone">Phone:</label>
                </div>
                <div class="input-field col s12 m12 l12">
                    <input id="shipadd1" type="text" ng-model="vm.user.shipping_address[0].address_1">
                    <label for="shipadd1" class="active">* Address 1</label>
                </div>
                <div class="input-field col s6 m6 l6">
                    <input id="shipadd2" type="text" ng-model="vm.user.shipping_address[0].address_2">
                    <label for="shipadd2" class="active">Address 2 (Optional)</label>
                </div>
                <div class="input-field col s6 m6 l6">
                    <input id="company" type="text" ng-model="vm.user.company">
                    <label for="company" class="active">Company (Optional)</label>
                </div>
                <div class="input-field col s12 m12 l4">
                    <input id="shippost" type="text" ng-model="vm.user.shipping_address[0].postcode">
                    <label for="shippost" class="active">* Postcode</label>
                </div>
                <div class="input-field col s12 m12 l4">
                    <input id="shipcity" type="text" ng-model="vm.user.shipping_address[0].city">
                    <label for="shipcity" class="active">* City</label>
                </div>
                <div class="input-field col s12 m12 l4">
                    <select class="browser-default" ng-model="vm.user.shipping_address[0].state">
                        <option ng-selected="vm.user.shipping_address[0].state === state" ng-repeat="state in vm.state" ng-value="state">{{state}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <a class="btn col s12 m12 l12" href="checkout">Continue to Shipping</a>
    <span style="padding-bottom:2%;padding-top:2%">OR</span>
    <a class="btn col s12 m12 l12 light-blue" href="cart">Back to Shopping Cart</a>
</div>

