<div class="row">
    <h4 class="center"><b>SHOPPING CART</b></h4>
    <div class="col s12 m12 l5">
            <div class="col s12 m12 l12" ng-repeat="product in vm.product.product">
                <div class="col s4 m4 l4"><img src="{{product.product_id[0].image[0]}}" class="responsive-img" style="height:10em"></div>
                <div class="col s5 m5 l5"><p>Name: <b>{{product.product_id[0].name}}</b><br/>Size: <b>60cm x 35cm x 45cm</b><br/>Color: <b>White</b><br/>Quantity: <b><input  length="3" min="0" size="3" maxlength="3" class="quantity" name="updates[]" ng-model="product.quantity"></b></p></div>
                <div class="col s3 m3 l3"><p class="right">Price: <b>{{product.product_id[0].price}}</b></p><button class="btn">Remove</button></div>
            </div>
    </div>

    <div class="col s12 m12 l5">
        <div class="col s12 m12 l6 offset-l6">
            <p style="font-size:140%">SUB TOTAL:</p>
            <p><b style="font-size:120%">RM4097.97</b><br/>
                Excluding tax and shipping</p>
            Please write your remark here:
            <textarea style="height:160px;resize:none"></textarea>
            <a href="billing" class="btn col s12 m12 l12">Continue to Billing</a>
            <span>OR</span>
            <a href="/" class="btn col s12 m12 l12">Keep Shopping</a>
        </div>
    </div>
</div>